
/* Big main logo */
.logo {
  position: relative;
  margin-top: 6%;
  display: block;
  width: 136px;
  z-index: 1000;
}

.logocontact {
  width: 200px;
  z-index: 1000;
}

.navbarlogo {
  position: relative;
  width: 30px;
  margin-right: .3em;
  z-index: 1000;
}

/* Sidebar Styles */

.sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 250px;
  margin: auto;
  margin-top: 2%;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  height: 100%;
  background-color: #561dad; /* #230f3c*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: white;
  color: #333333;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #ccc;
  background: #561dad;
}


/* Sidebar biggest text style */
.sidebar-nav .sidebar-brand {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}


/*404 page*/
.page-404{
  position: relative;
  width: 350px;
  height: 200px;
  margin: 100px auto;
  text-align: center;
}



.text-404{
  font-size: 138px;
  background:#e9e3dd;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ');
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-animation: square 3s linear infinite;
  -ms-animation: square 3s linear infinite;
  animation: square 3s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  line-height: 200px;
  position: relative;
}



.text-404:nth-of-type(2){
  text-shadow:none;
  z-index:2;
  position:absolute;
  top:-139px;
  left:-1px;
}

/*---------------background image----------------*/

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}



.bgcust {
    /* The image used */
    /* background-image: url("../resources/BGL.jpg"); */
    background-color: black;
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

    z-index: -1000;
}

.bgcust2 {
    /* The image used */
    background-image: url("../resources/138014.jpg");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.056;

    z-index: -1000;
}



.alertbar {
  text-align: center;
}

.login-form {
}

.loginshad {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 8%;
  border-radius: 1rem;
}

.loginbrand {
  max-width: 350px;
}

.bg-purple {
  background-color: #230f3c;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #68228b, #FF86B2);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.textgradientt {
  text-color: linear-gradient(to right, #68228b, #FF86B2);
}

.footer {
  flex-shrink: 0;
}



.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* sign in css */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 95vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
