



body {

/* background image */
	background-color: #ccc;
	background-image: url("resources/bg2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
/* ------------------------ */
}


.mainbox {
  border-style: solid;
  border-radius: 9px;
  box-sizing: border-box;
  margin: auto;
  padding: 3%;
  width: 35%;
  background-color: #000000;
  opacity: 0.8;
  margin-top: 0%;
  min-width: 700px;
}

#headline {
  font-size: 3rem;
  font-family: 'Anton', impact;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

#welcometitle {
	font-size: 2em;
	font-family: 'Great Vibes';
}

#corplogomain {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  opacity: 0.9;
}

#SSOBOX {
	text-align: center;
}



#SSOButton {
  width: auto;
  height: 35px;
  margin: auto;
}

/*------AuthPage------*/

#AuthSSOBOX {
	position: relative;
	text-align: center;
	display: block;
	padding: 5%;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	top: 250px;
	border: 3px solid rgba(121, 134, 132, 0.7);
	border-radius: 25px;
}

#AuthSSOButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 50px;
    margin: auto;
}
/*--------------------*/


.mainbox p {
  font-family: 'Oswald', Impact;
  color: white;
}

#rednote {
	margin-top: 5%;
	font-size: 0.7em;
	color: red;
	font-family: sans-serif;
}









/* ---- BSTN LOGO ----*/
#logo {
	margin: auto;
	border-radius: 30px;
	padding: 4%;
	margin-top: 5%;
	height: 15rem;
	width: 18rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("resources/pentagramw.png");
	opacity: 0.75;
}

/* ------------------------ */

/* ---- Footer ---------*/

#footer {
	/* -----MAINTENANCE------- */
	background-image: url("resources/maintenance.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* ------------------------ */
	opacity: 0.7;
	background-color: #ccc;
	position: fixed;
	width: 100%;
	height: 200px;
	bottom: -165px;
	left: 0px;
	z-index: 1;
	transition: 3.5s
}

#footer:hover {
	opacity: 1;
	bottom: 0px;
}

#footermessage {
	background-color: white;
	position: absolute;
	font-family: 'Anton';
	text-align: center;
	width: 100%;
	padding: 1.5%;
	top: 50px;
}

/* ---- Text bottom ----*/
#description p {
	font-size: 1.4rem;
	font-family: 'Julius Sans One', sans-serif;
	padding: 0%;
	margin: 0%;
}

#description {
	text-align: center;
	float: left;
	width: 100%;
	position: absolute;
	color: black;
	padding: 0%;
	top: 3%;
}
/* ------------------------ */

/* -------Signature-------- */

#signature {
	position: absolute;
	bottom: -14px;
	left: 10px;
	color: black;
	z-index: 6;
	font-size: 1.2em;
	font-family: 'Great Vibes'
}
/* ------------------------ */



nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 10%;
}


nav .btnmain {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.75;
	padding: 1rem;
	transition: opacity 0.3s;
	transition: border 0.5s;
}

nav .btnmain:hover {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	padding: 1rem;
}

nav .btnmain:active {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	margin-top: 1px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	padding: 1rem;
	top: 1px;
}


nav a {
	text-decoration: none;
	color: purple;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.picture {
	position: relative;
	display: flex;
	margin: auto;
	margin-top: 5%;
	border-radius: 30px;
	height: 40rem;
	width: 375px;
	background-size: cover;
	background-position: center;
	z-index: 2;
}


#pic1 {
	background-image: url("resources/JYOPPI.jpg");
}

#pic2 {
	background-image: url("resources/WANAKA.jpg");
}

#pic3 {
	background-image: url("resources/WANAKA.jpg");
}

#pic4 {
	background-image: url("resources/WANAKA.jpg");
}





.descriptioncontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 2%;
}

.descriptionstaff {
	position: absolute;
	bottom: -120px;
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 375px;
	font-size: 3em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
	z-index: 2;
	transition: font-size 0.2s;
}

.descriptionstaff:hover {
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 375px;
	font-size: 3.1em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
	z-index: 2;
}

#statusbar {
	position: relative;
	z-index: 3;
	margin-left: -10px;
	margin-right: -10px;
}

#status {
	text-align: center;
	margin-top: 60px;
	background-color: green;
	z-index: 3;
	font-family: 'Abel', 'Oswald';
}

#guidelines {
	position: relative;
	font-family: 'Abel';
	width: auto;
	float: left;
	background-color: grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-right: 15px;
	font-size: 22px;
	z-index: 3;
}

#guidelines h1 {
	font-family: 'Oswald';
}

#quoteslogi {
	position: relative;
	font-family: 'Abel';
	width: auto;
	float: right;
	background-color: grey;
	border-radius: 15px;
	margin-top: 30px;
	margin-right: 5px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 22px;
	z-index: 3;
}


#whiteoverlay {
		opacity: 1;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 4%;
    left: 0px;
    z-index: 1;
}

#homebtn {
	position: fixed;
	background-color: white;
	top: -5px;
	border: solid 5px #ccc;
	width: auto;
	text-align: center;
	padding: 0.5%;
	margin-left: 3%;
	z-index: 4;
	font-family: 'Anton', impact;
	font-size: 2em;
	border-radius: 0px 0px 15px 15px;
	color: black;
	opacity: 1;
	transition: 1.4s;
}

#homebtn:hover {
	color: purple;
	border: solid 5px purple;
}

#homebtn:active {
	top: 50px;
}

#hyperlinks {
		text-decoration: none;
		color: purple;
}


#loginbtn {
	position: fixed;
	right: 0;
	top: 0;
	background-color: white;
	border: solid white;
	border-radius: 0px 0px 0px 5px;
	width: 70px;
	text-align: center;
	font-family: 'Oswald';
}

#textbox {
	width: 560px;
	margin-top: 100px;
	margin-left: 25px;
	border-radius: 10px;
	z-index: 2;
	background-color: white;
	padding: 2%;
	position: relative;
}

#textboxoffer {
	width: 560px;
	float: right;
	margin-right: 120px;
	border-radius: 10px;
	z-index: 2;
	background-color: white;
	padding: 1%;
	position: relative;
	font-family: 'Oswald'
}

#textboxoffer h1 {
	font-family: 'Abel'
}

#textboxdemands {
	width: 560px;
	float: right;
	margin-right: 120px;
	margin-top: -250px;
	border-radius: 10px;
	z-index: 2;
	background-color: white;
	padding: 1%;
	position: relative;
	font-family: 'Oswald'
}

#textboxdemands h1 {
	font-family: 'Abel'
}




.introtitle {
	text-align: center;
	font-family: 'Julius Sans One';
	font-size: 2.5em;
}

.introtext {
	text-align: justify;
	font-family: 'Oswald', impact;
	font-size: 1.1em;
}




@media only screen and (max-width: 1008px) {

nav {
	display: block;
	position: relative;
	text-align: center;
	height: 10%;
	margin-top: 10%;
	background-color: red;
}

.btnmain {
	background-color: white;
	margin-top: 6px;
	border: 0.2em solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.75;
	transition: opacity 0.3s;
	transition: border 0.5s;
	padding: 17px;
}

}

@media only screen and (max-width: 1500px) {
	.picture {
		position: relative;
		display: block;
		margin: auto;
		margin-top: 5%;
		border-radius: 30px;
		padding: 4%;
		height: 28rem;
		width: 375px;
		background-size: cover;
		background-position: center;
		z-index: 2;
		margin-top: 10rem;
	}

	.descriptioncontainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;
		margin-top: 2%;
	}

	.descriptionstaff {
		position: absolute;
		background-color: white;
		margin: auto;
		border: 2px solid white;
		border-radius: 30px;
		height: 7rem;
		width: 375px;
		font-size: 3em;
		font-family: 'Anton', impact;
		text-align: center;
		opacity: 0.7;
		z-index: 2;
		transition: font-size 0.2s;
	}

	.descriptionstaff:hover {
		background-color: white;
		margin: auto;
		border: 2px solid white;
		border-radius: 30px;
		height: 7rem;
		width: 375px;
		font-size: 3.1em;
		font-family: 'Anton', impact;
		text-align: center;
		opacity: 0.7;
		z-index: 2;
	}
}
