



body {

/* background image */
	background-color: #ccc;
	background-image: url("resources/bg2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:  fixed;
	background-size: cover;
/* ------------------------ */
}












/* ---- BSTN LOGO ----*/
#logo {
	margin: auto;
	border-radius: 30px;
	padding: 4%;
	margin-top: 5%;
	height: 15rem;
	width: 18rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("resources/pentagramw.png");
	opacity: 0.75;
}

/* ------------------------ */

/* ---- Footer ---------*/

#footer {
	opacity: 0.7;
	background-color: #ccc;
	position: fixed;
	width: 100%;
	height: 35px;
	bottom: 0%;
	left: 0px;
	z-index: 1;
	transition: opacity 0.2s;
}

#footer:hover {
	opacity: 1;
}

/* ---- Text bottom ----*/
#description p {
	font-size: 1.4rem;
	font-family: 'Julius Sans One', sans-serif;
	text-shadow: 1.5px 1px white;
	padding: 0%;
	margin: 0%;
}

#description {
	text-align: center;
	float: left;
	width: 100%;
	position: relative;
	color: black;
	padding: 0%;
	top: 20%;
}
/* ------------------------ */

/* -------Signature-------- */

#signature {
	color: black;
	z-index: 6;
	position: fixed;
	font-size: 1.2em;
	bottom: 1px;
	bottom: -13px;
	font-family: 'Great Vibes'
}
/* ------------------------ */

#contactbtn {
	position: absolute;
	background-color: white;
	top: -60px;
	width: auto;
	text-align: center;
	padding: 1%;
	margin-left: 3%;
	z-index: 4;
	font-family: 'Anton', impact;
	font-size: 2em;
	border-radius: 0px 0px 25px 25px;
	color: black;
	opacity: 1;
	transition: top 1.2s;
}

#contactbtn:hover {
	top: 0px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 10%;
}


nav .btnmain {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.75;
	padding: 1rem;
	transition: opacity 0.3s;
	transition: border 0.5s;
}

nav .btnmain:hover {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	padding: 1rem;
}

nav .btnmain:active {
	background-color: white;
	border: 0.2em solid white;
	margin-left: 5px;
	margin-top: 1px;
	border-radius: 10px;
	width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	padding: 1rem;
	top: 1px;
}


nav a {
	text-decoration: none;
	color: purple;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.picture {
	margin: auto;
	margin-top: 5%;
	border-radius: 30px;
	padding: 4%;
	height: 28rem;
	width: 13%;
	background-size: cover;
	background-position: center;
	z-index: 2;
}



#pic1 {
	background-image: url("resources/MINEICUS.jpg");
}

#pic2 {
	background-image: url("resources/WANAKA.jpg");
}

#pic3 {
	background-image: url("resources/WANAKA.jpg");
}

#pic4 {
	background-image: url("resources/WANAKA.jpg");
}

/* -------TEST------- */
.box {
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: auto;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid purple;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: purple	;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* ------------------ */

.descriptioncontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 2%;
}

.descriptionstaff {
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 21%;
	font-size: 3em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
	z-index: 2;
	transition: font-size 0.2s;
}

.descriptionstaff:hover {
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 21%;
	font-size: 3.1em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
	z-index: 2;
}

#statusbar {
	position: relative;
	z-index: 3;
	margin-left: -10px;
	margin-right: -10px;
}

#status {
	text-align: center;
	margin-top: 3.4%;
	background-color: green;
	z-index: 3;
	font-family: 'Abel', 'Oswald';
}

#guidelines {
	position: relative;
	font-family: 'Abel';
	width: 40%;
	background-color: grey;
	border-radius: 15px;
	padding-bottom: 10px;
	font-size: 22px;
	z-index: 3;
}

#guidelines h1 {
	font-family: 'Oswald';
}


#whiteoverlay {
		opacity: 1;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 4%;
    left: 0px;
    z-index: 1;
}

#homebtn {
	position: absolute;
	background-color: white;
	top: 0%;
	width: auto;
	text-align: center;
	padding: 1%;
	margin-left: 3%;
	z-index: 4;
	font-family: 'Anton', impact;
	font-size: 2em;
	border-radius: 0px 0px 25px 25px;
	color: black;
	opacity: 1;
}

#textbox {
	margin-top: 15%;
	margin-right: 50%;
	margin-left: 5%;
	border-radius: 10px;
	z-index: 2;
	background-color: white;
	padding: 2%;
	position: relative;
}


.introtitle {
	text-align: center;
	font-family: 'Julius Sans One';
	font-size: 2.5em;
}

.introtext {
	text-align: justify;
	font-family: 'Anton', impact;
	font-size: 1.1em;
}




@media only screen and (max-width: 1008px) {

nav {
	display: block;
	position: relative;
	height: 10%;
	margin-top: 10%;
}

nav .btnmain {
	background-color: white;
	margin-top: 6px;
	border: 0.2em solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.75;
	transition: opacity 0.3s;
	transition: border 0.5s;
	padding: 17px;
}

nav .btnmain:hover {
	background-color: white;
	margin-top: 6px;
	border: 0.2em solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	transition: opacity 0.3s;
	transition: border 0.5s;
	padding: 17px;
}

nav .btnmain:active {
	background-color: white;
	margin-top: 6px;
	border: 0.2em solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	min-width: 12rem;
	font-size: 2em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.85;
	transition: opacity 0.3s;
	transition: border 0.5s;
	padding: 17px;
	top: 1px;
}
}
