



html, body {

/* background image */
	background-color: black;
	background-image: url("resources/background-space.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:  fixed;
	background-size: cover;
	display: flex;
  	flex-direction: column;
/* ------------------------ */

}

#main {
	
}



/* ---- BSTN LOGO ----*/
#logo {
	display: block;
    margin: auto;
    width: 20%;
	margin-top: 100px;
}
/* ------------------------ */


/* ---- Text bottom ----*/
#description p {
	font-size: 1.3em;
	font-family: 'Julius Sans One', sans-serif;
}

#description {
	text-align: center;
	text-shadow: 1.5px 1px black;
	color: white;
	margin-top: 10%;
}
/* ------------------------ */



nav {
	text-align: center;
	margin-top: 9%;
}

nav div {
	position: relative;
	margin: 0.1%;
	padding: 2.3%;
	display: inline;
	border-radius: 8px;
	background-color: white;
	opacity: 0.85;
	font-family: impact;
	font-size: 2em;
}

nav a {
	text-decoration: none;
	color: purple;
}

nav div:hover {
	position: relative;
	margin: 0.1%;
	padding: 2.31%;
	display: inline;
	border-radius: 8px;
	background-color: white;
	opacity: 0.95;
	font-family: impact;
}

nav div:active {
	position: relative;
	margin: 0.1%;
	padding: 2.3%;
	display: inline;
	border-radius: 8px;
	background-color: white;
	opacity: 1;
	font-family: impact;
	top: 1px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.picture {
	margin: auto;
	margin-top: 5%;
	border: 2px solid white;
	border-radius: 30px;
	padding: 4%;
	height: 28rem;
	width: 13%;
	background-size: cover;
	background-position: center;
}



#pic1 {
	background-image: url("https://i.imgur.com/VIHO5fN.jpg")
}

#pic2 {
	background-image: url("https://i.imgur.com/o4Tb09Z.jpg")
}

#pic3 {
	background-image: url("https://i.imgur.com/X3Cegus.jpg")
}

#pic4 {
	background-image: url("https://i.imgur.com/Vd5zyiF.jpg")
}






.descriptioncontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 2%;
}

.descriptionstaff {
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 21%;
	font-size: 3em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
}

.descriptionstaff:hover {
	background-color: white;
	margin: auto;
	border: 2px solid white;
	border-radius: 30px;
	height: 7rem;
	width: 21%;
	font-size: 3.1em;
	font-family: 'Anton', impact;
	text-align: center;
	opacity: 0.7;
}
















